version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: guri24-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-12345678}
      POSTGRES_DB: ${POSTGRES_DB:-guri24}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: guri24-redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  minio:
    image: minio/minio:latest
    container_name: guri24-minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-minioadmin}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  # Setup bucket automatically
  mc:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set myminio http://minio:9000 ${S3_ACCESS_KEY:-minioadmin} ${S3_SECRET_KEY:-minioadmin}; /usr/bin/mc mb myminio/${S3_BUCKET:-guri24} || true; /usr/bin/mc anonymous set public myminio/${S3_BUCKET:-guri24}; exit 0; "

  api:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    dns:
      - 8.8.8.8
      - 8.8.4.4
    container_name: guri24-api
    restart: always
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER:-admin}:${POSTGRES_PASSWORD:-12345678}@db:5432/${POSTGRES_DB:-guri24}
      - REDIS_URL=redis://redis:6379/0
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=${S3_ACCESS_KEY:-minioadmin}
      - S3_SECRET_KEY=${S3_SECRET_KEY:-minioadmin}
      - S3_BUCKET=${S3_BUCKET:-guri24}
      # Use localhost for public browser access if running locally, or the server IP
      - S3_PUBLIC_URL_OVERRIDE=http://143.198.30.249:9000
      - ALLOWED_HOSTS=*
      - CORS_ORIGINS=http://localhost:5173,http://143.198.30.249,http://guri24.com,https://guri24.com,http://www.guri24.com,https://www.guri24.com
      - DEBUG=True
    depends_on:
      - db
      - redis
      - minio

volumes:
  postgres_data:
  redis_data:
  minio_data:
